html/
TestResults/
Database/
Dropbox/
bin/
obj/
Bin/
.vs/
.dotnet/
.history/
*.pdom
*.index
*.tmp
*.log
*.exp
*.ilk
*.exe
*.pdb
*.tlog
*.obj
*.idb
*.user
*.sdf
*.o
*.d
*.mk
*.a
*.snap
*.running
*.markers
*.prefs
*.markers
*.history
*.opensdf
*.tree
*.suo
